@font-face {
  font-family: 'Comic Sans';
  Font-weight : bold;
}

@font-face {
  font-family: 'Comic Sans';
  Font-weight : regular;
}

@font-face {
  font-family: 'Comic Sans';
  Font-weight : light;
}
